<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DB_proje.Properties.Settings.ProjectAppDBConnectionString"
            connectionString="Data Source=DESKTOP-7AVOOGO\SQLEXPRESS;Initial Catalog=ProjectAppDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>